body {
    padding-bottom: 125px;
    padding-top: 72px;
    background-color: whitesmoke;
}

@media only screen and (max-width: 837px) {
    body {
        padding-bottom: 145px;
        padding-top: 72px;
        background-color: whitesmoke;
    }
}